.gradle
/build/
/target/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
functional-output/

git.properties

lib/applicationinsights-agent-*.jar
lib/applicationinsights.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

### Terraform ###
infrastructure/.terraform

.DS_Store
src/main/resources/application-local.yaml
