java:
  memoryRequests: "1024Mi"
  cpuRequests: "500m"
  memoryLimits: "2048Mi"
  cpuLimits: "1500m"
  applicationPort: 4550
  ingressHost: pcq-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: pcq
  spotInstances:
    enabled: true
  environment:
    PCQ_DB_NAME: pcq
    PCQ_DB_HOST: pcq-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com
    PCQ_DB_PORT: "5432"
    STORAGE_URL: https://pcqshared{{ .Values.global.environment }}.blob.core.windows.net
    FLYWAY_URL: jdbc:postgresql://pcq-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com:5432/pcq?sslmode=require
    FLYWAY_USER: pcquser
    FLYWAY_NOOP_STRATEGY: "false"
    DB_ENCRYPTION_ENABLED: "Yes"
    DB_ALLOW_DELETE_RECORD: "false"
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
  keyVaults:
    pcq:
      resourceGroup: pcq
      secrets:
        - name: backend-POSTGRES-USER
          alias: PCQ_DB_USERNAME
        - name: backend-POSTGRES-PASS
          alias: PCQ_DB_PASSWORD
        - name: jwt-secret
          alias: JWT_SECRET
        - name: backend-encryption-key
          alias: DB_ENCRYPTION_KEY
        - name: flyway-password
          alias: flyway.password
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: pcq-storage-account-primary-connection-string
          alias: STORAGE_ACCOUNT_CONNECTION_STRING
        - name: s2s-secret-pcq-consolidation-service
          alias: S2S_CS_SECRET

  image: 'hmctspublic.azurecr.io/pcq/backend:latest'
