java:
  environment:
    PCQ_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    PCQ_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    PCQ_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    PCQ_DB_HOST: "{{ .Release.Name }}-postgresql"
    PCQ_DB_PORT: "5432"
    FLYWAY_URL: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database}}"
    FLYWAY_USER: "{{ .Values.postgresql.auth.username}}"
    FLYWAY_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    FLYWAY_NOOP_STRATEGY: "false"
    DB_ENCRYPTION_ENABLED: "No"
    DB_ALLOW_DELETE_RECORD: "true"
    TEST_S2S_URL: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

  postgresql:
    enabled: true
